.story{
    max-inline-size: 52%;
    margin: 2rem auto 0;
    text-align:center;
}

#separator {
    display: flex;
    height: 300px;
    max-width: 2000px;
    overflow: hidden;
    margin: auto;
    border-radius: var(--br-image);
}

#separator img, #sponsortile img{
    object-fit: cover;
}

#sponsorsmosaic{
    display: flex;
    flex-wrap: wrap;
    row-gap: var(--spacing-normal);
    justify-content: space-between;
    align-content: space-between;
    overflow-x: scroll;
}

.sponsortile{
    border-radius: var(--br-thumbnail);
    display: flex;
    width: 200px;
    height: 150px;
    overflow: hidden;
}

#rulesframe {
    background-color: var(--bg-textfield);
    border-radius: var(--br-image);
    padding: 3em 6em;
    line-height: var(--lineheight-readable);
    text-align: initial;
}

.rulesframeextent{
    max-height: 50vh;
    overflow-y: scroll;
}

#expanderareacont{
    display: none;
}

#rulesframe li {
    color: var(--lighttext);
    margin-bottom: 1em;
}

#rulesframe ul:first-child{
    margin-top: 1em;
}

#rulesframe h2 {
    margin-bottom: 1.5em;
}

.textbutton {
    margin: auto;
}

@media screen and (max-width: 1024px){
    .story{
        text-align: left;
    }
    #sponsorsmosaic{
        justify-content: space-evenly;
    }
    #rulesframe{
        padding: 3rem 3rem 0;
    }
    .ruleslist {
        max-height: 7rem;
        overflow: clip;
    }
    #expanderareacont{
        display: unset;
    }
    .ruleslistexpand{
        max-height: none;
        overflow: visible;
    }
}