#contactinfo {
  display: flex;
  justify-content: space-evenly;
  max-width: 70rem;
  margin: 5rem auto 25rem;
  /* border: 3px solid black; */
  text-align: left;
}

#infocol{
  display: grid;
  gap: calc(var(--spacing-max)*2);
  color: var(--lighttext);
}

.contactshortcuts{
  display: grid;
  gap: var(--spacing-min);
  list-style: none;
  padding: 0;
  margin: 0;
}

#contform{
  display: grid;
  gap: var(--spacing-max);
}

@media screen and (max-width: 1024px) {
  #contactinfo{
    flex-flow: column;
    margin: 0 auto 25rem;
    max-width: max-content;
    gap: var(--spacing-max);
  }
}