.richlistitem {
    display: flex;
    background-color: var(--bg-rich-list-item);
    box-shadow: var(--rich-list-item-shadow-x) var(--rich-list-item-shadow-y) var(--rich-list-item-shadow-blur) var(--rich-list-item-shadow-spread) var(--rich-list-item-shadow-color);
    border-radius: var(--br-image);
    text-align: left;
    padding: var(--spacing-min);
    height: 12.5rem;
    align-items: center;
    gap: var(--spacing-normal);
  }
  .richlistimgcont{
    display: flex;
    height: 100%;
    width: 250px;
    overflow: hidden;
    border-radius: var(--br-thumbnail);
    flex-shrink: 0;
  }

  img{
    width: 100%;
    object-fit: cover;
  }

  .richlistdata {
    margin-top: auto;
    flex-grow: 1;
  }
  .sharefav{
    display: flex; 
    gap:var(--spacing-normal);
  }

  #interactions{
    align-self: flex-end;
  }

  #your-desktop{
    color: inherit;
    margin: 0;
  }

  #your-mobile{
    display: none;
  }

  @media screen and (max-width: 1024px) {
    .richlistitem {
      display: grid;
      grid: 3fr 1fr / 200px auto;
      align-items: center;
      height: 20vh;
    }
    .richlistimgcont{
      width: auto;
      grid-row: 1/3;
    }
    .richlistdata{
      display: block;
      margin: 0;
      /* max-height: 100%; */
      min-height: 0;
      align-self:flex-end;
    }
    .tiledesc{
      text-overflow: ellipsis;
    }
    .details{
      font-size: (--details-mobile-font-size);
    }
    #interactions{
      grid-column: 2/3;
      display: grid;
      grid: 1rem 1fr / 1;
      /* gap: var(--spacing-normal); */
    }
    #interactions .helptext{
      margin: 0;
      grid-row: 1;
      font-size: (--helptext-mobile-font-size);
    }
    #interactions button, #interactions .sharefav{
      grid-row: 2;
    }
    #sharelabel{
      display: none;
    }
    #your-desktop{
      display: none;
    }
    #your-mobile{
      display: inline;
      color: inherit;
    }
  }