---
import Header from "../components/Header.astro";
import Herosection from "../components/Herosection.astro";
import Footercomp from "../components/Footercomptree.astro";
import Infomap from "../components/Infomap.astro";
import Compacttile from "../components/Compacttile.astro";
import Listkomponent from "../components/Listkomponent.astro";
import Newsletter from "../components/Newsletter.astro";
import Thatsall from "../components/Thatsall.astro";
import Textbutton from "../components/Textbutton.astro";
import Contacttile from "../components/Contacttile.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link rel="stylesheet" href="src/styles/tokens.css" />
    <link rel="stylesheet" href="src/styles/global.css" />
    <link rel="stylesheet" href="src/styles/about.css" />
    <title>Pattern Library</title>
  </head>
  <body>
    <h1>Pattern Library</h1>
    <section>
      <Textbutton href="#">
        <span slot="Sort by"></span>
      </Textbutton>
      <ul class="richlist">
        <Listkomponent />
      </ul>
    </section>
    <div><Infomap /></div>
    <div>
      <Contacttile>
        <div slot="contacticon">
          <svg
            width="30"
            height="30"
            viewBox="0 0 30 30"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M20.8943 29.9997C16.373 29.9999 11.041 26.3182 7.36146 22.6384C3.35593 18.6332 -0.652313 12.6697 0.0892332 7.92608C0.335725 3.96441 2.52088 0.881747 5.66318 0.0674638C6.42446 -0.131004 7.21969 0.115925 7.73534 0.70936C9.42837 2.65924 10.695 5.01446 11.5006 7.70971C11.7226 8.45317 11.5623 9.24726 11.0715 9.83407C10.1456 10.9403 9.1663 11.8884 8.07789 12.7324C8.05586 12.7498 8.04837 12.7857 8.06203 12.81C10.2373 16.6919 13.3086 19.763 17.1907 21.9385C17.2142 21.9522 17.2506 21.944 17.2675 21.9227C18.1119 20.834 19.0599 19.8547 20.1659 18.9289C20.7528 18.4379 21.5466 18.278 22.2905 18.4998C24.9859 19.3051 27.3411 20.5717 29.291 22.2645C29.8846 22.7806 30.1305 23.5747 29.9329 24.3371C29.1185 27.4794 26.0357 29.6645 22.0742 29.911C21.6885 29.9711 21.2948 30 20.8946 30L20.8943 29.9997ZM6.18288 1.4293C6.12935 1.4293 6.07539 1.43613 6.02164 1.44979C3.48092 2.10821 1.71119 4.69733 1.5132 8.04582C1.51166 8.07005 1.50924 8.09384 1.50549 8.11741C0.944226 11.5932 3.63934 16.8963 8.37171 21.6286C13.1041 26.361 18.4065 29.0559 21.8831 28.4948C21.9066 28.491 21.9304 28.4886 21.9547 28.4871C25.3031 28.289 27.8927 26.5193 28.5508 23.9787C28.6111 23.7448 28.5362 23.5009 28.3545 23.343C26.5594 21.7841 24.3818 20.6151 21.8825 19.8688H21.8822C21.5998 19.7836 21.3007 19.8428 21.0831 20.0243C20.0568 20.8838 19.1779 21.7912 18.3967 22.7979C17.9494 23.3756 17.1308 23.5415 16.4933 23.1851C12.3779 20.8788 9.12239 17.6231 6.81599 13.5079C6.45892 12.87 6.62545 12.0516 7.20324 11.604C8.20948 10.8231 9.11682 9.94443 9.97634 8.91772C10.1583 8.70053 10.2167 8.40161 10.1319 8.119C9.38535 5.61931 8.21652 3.44167 6.65719 1.64647C6.53582 1.50593 6.36312 1.42949 6.18315 1.42949L6.18288 1.4293Z"
              fill="#2EA8DD"></path>
            <path
              d="M0.969943 28.0722C0.918422 28.0988 0.864615 28.1188 0.808736 28.1321C0.753266 28.1458 0.6951 28.1528 0.634232 28.1528C0.453496 28.1528 0.31036 28.1026 0.204617 28.0016C0.0986664 27.9002 0.0458984 27.7631 0.0458984 27.5903C0.0458984 27.417 0.0986658 27.2799 0.204617 27.1789C0.31036 27.0775 0.453496 27.0269 0.634232 27.0269C0.6951 27.0269 0.753271 27.0339 0.808736 27.0476C0.86462 27.0609 0.918425 27.0809 0.969943 27.1075V27.3318C0.917799 27.2969 0.866487 27.2712 0.816213 27.2545C0.765731 27.2379 0.712549 27.2296 0.656665 27.2296C0.556947 27.2296 0.478418 27.2618 0.421496 27.326C0.364367 27.3898 0.335904 27.4779 0.335904 27.5903C0.335904 27.7022 0.364365 27.7903 0.421496 27.8545C0.478418 27.9183 0.556947 27.9501 0.656665 27.9501C0.712549 27.9501 0.765732 27.9422 0.816213 27.926C0.866487 27.9094 0.917803 27.8834 0.969943 27.8479V28.0722Z"
              fill="black"
              fill-opacity="0.1"></path>
            <path
              d="M1.79513 27.5392C1.77187 27.5288 1.74881 27.5209 1.72616 27.5159C1.70393 27.5105 1.6815 27.5076 1.65885 27.5076C1.59175 27.5076 1.54023 27.5292 1.50429 27.5724C1.46815 27.6152 1.45028 27.6763 1.45028 27.756V28.1316H1.19019V27.3173H1.45028V27.4511C1.48352 27.3979 1.52175 27.3593 1.56495 27.3348C1.60858 27.3098 1.66072 27.2974 1.72118 27.2974C1.7299 27.2974 1.73946 27.298 1.74943 27.299C1.75982 27.2996 1.77478 27.3011 1.7943 27.3032L1.79513 27.5392Z"
              fill="black"
              fill-opacity="0.1"></path>
            <path
              d="M2.73723 27.722V27.7968H2.12813C2.13478 27.8579 2.1568 27.9036 2.19461 27.9339C2.23221 27.9644 2.28519 27.9796 2.35333 27.9796C2.40817 27.9796 2.46406 27.9717 2.52118 27.9555C2.57873 27.9389 2.63773 27.9144 2.69818 27.8815V28.0818C2.63669 28.1051 2.5752 28.1225 2.5137 28.1342C2.45221 28.1462 2.39072 28.1524 2.32922 28.1524C2.18172 28.1524 2.06705 28.115 1.98519 28.0403C1.90376 27.9655 1.86304 27.8606 1.86304 27.7253C1.86304 27.5924 1.90313 27.4881 1.98353 27.412C2.06372 27.3356 2.17403 27.2974 2.31426 27.2974C2.44223 27.2974 2.54465 27.3362 2.62172 27.4137C2.69859 27.4908 2.73723 27.5936 2.73723 27.722ZM2.46966 27.6356C2.46966 27.5863 2.45512 27.5467 2.42645 27.5167C2.39757 27.4864 2.35997 27.471 2.31344 27.471C2.26295 27.471 2.22203 27.4852 2.19045 27.5134C2.15888 27.5417 2.13914 27.5824 2.13145 27.6356H2.46966Z"
              fill="black"
              fill-opacity="0.1"></path>
            <path
              d="M3.29934 27.7652C3.24492 27.7652 3.20399 27.7743 3.17636 27.7926C3.14914 27.8109 3.13564 27.8381 3.13564 27.8741C3.13564 27.9073 3.14665 27.9335 3.16888 27.9522C3.1909 27.9705 3.22144 27.9796 3.26029 27.9796C3.30953 27.9796 3.35087 27.9622 3.38411 27.9272C3.41776 27.8919 3.43479 27.8479 3.43479 27.7951V27.7652L3.29934 27.7652ZM3.69655 27.6672V28.1317H3.43479V28.0112C3.39989 28.0606 3.36042 28.0966 3.31679 28.1192C3.27296 28.1412 3.21978 28.1524 3.15724 28.1524C3.0729 28.1524 3.00455 28.1281 2.95199 28.0793C2.89922 28.0301 2.87305 27.9661 2.87305 27.8874C2.87305 27.7922 2.90566 27.7224 2.97111 27.678C3.03696 27.6331 3.14021 27.6106 3.28106 27.6106H3.43479V27.5899C3.43479 27.5489 3.41838 27.519 3.38576 27.5001C3.35294 27.4808 3.30225 27.471 3.23369 27.471C3.1776 27.471 3.12567 27.4766 3.07747 27.4877C3.02968 27.4989 2.98543 27.5155 2.94451 27.5375V27.3389C2.99977 27.3256 3.05544 27.3154 3.11154 27.3082C3.16804 27.3011 3.22455 27.2974 3.28106 27.2974C3.42772 27.2974 3.53367 27.3264 3.59849 27.3846C3.66373 27.4424 3.69655 27.5365 3.69655 27.6672Z"
              fill="black"
              fill-opacity="0.1"></path>
            <path
              d="M4.22347 27.0864V27.3174H4.49188V27.5036H4.22347V27.8493C4.22347 27.8871 4.23095 27.9124 4.24591 27.9257C4.26086 27.939 4.29036 27.9457 4.33482 27.9457H4.46861V28.1318H4.24591C4.14286 28.1318 4.06974 28.1106 4.02653 28.0678C3.98373 28.0246 3.96254 27.9519 3.96254 27.8493V27.5036H3.83374V27.3174H3.96254V27.0864H4.22347Z"
              fill="black"
              fill-opacity="0.1"></path>
            <path
              d="M5.46404 27.722V27.7968H4.85494C4.86159 27.8579 4.88361 27.9036 4.92142 27.9339C4.95902 27.9644 5.01199 27.9796 5.08014 27.9796C5.13498 27.9796 5.19086 27.9717 5.24799 27.9555C5.30553 27.9389 5.36454 27.9144 5.42499 27.8815V28.0818C5.3635 28.1051 5.302 28.1225 5.24051 28.1342C5.17902 28.1462 5.11752 28.1524 5.05603 28.1524C4.90853 28.1524 4.79385 28.115 4.712 28.0403C4.63057 27.9655 4.58984 27.8606 4.58984 27.7253C4.58984 27.5924 4.62994 27.4881 4.71033 27.412C4.79052 27.3356 4.90084 27.2974 5.04107 27.2974C5.16904 27.2974 5.27145 27.3362 5.34853 27.4137C5.42539 27.4908 5.46404 27.5936 5.46404 27.722ZM5.19647 27.6356C5.19647 27.5863 5.18192 27.5467 5.15326 27.5167C5.12438 27.4864 5.08678 27.471 5.04024 27.471C4.98976 27.471 4.94883 27.4852 4.91726 27.5134C4.88568 27.5417 4.86595 27.5824 4.85826 27.6356H5.19647Z"
              fill="black"
              fill-opacity="0.1"></path>
            <path
              d="M6.21463 27.4363V27H6.47639V28.1318H6.21463V28.0138C6.1791 28.062 6.13984 28.0973 6.09663 28.1193C6.05341 28.1413 6.00314 28.1526 5.94622 28.1526C5.84588 28.1526 5.76361 28.1127 5.69942 28.0329C5.63502 27.9531 5.60303 27.8507 5.60303 27.7254C5.60303 27.5997 5.63502 27.4969 5.69942 27.4171C5.76361 27.3374 5.84588 27.2975 5.94622 27.2975C6.00273 27.2975 6.05259 27.3089 6.0958 27.3315C6.13942 27.3544 6.1791 27.3893 6.21463 27.4363ZM6.04344 27.9639C6.09871 27.9639 6.14108 27.9438 6.17058 27.9033C6.19987 27.8624 6.21462 27.8031 6.21462 27.7254C6.21462 27.648 6.19987 27.589 6.17058 27.5484C6.14108 27.5075 6.0987 27.487 6.04344 27.487C5.98797 27.487 5.9456 27.5075 5.91631 27.5484C5.88681 27.589 5.87226 27.648 5.87226 27.7254C5.87226 27.8031 5.88681 27.8623 5.91631 27.9033C5.9456 27.9438 5.98798 27.9639 6.04344 27.9639Z"
              fill="black"
              fill-opacity="0.1"></path>
            <path
              d="M7.67854 27.9639C7.73443 27.9639 7.77702 27.9438 7.80651 27.9033C7.83581 27.8623 7.85055 27.8031 7.85055 27.7254C7.85055 27.6479 7.83581 27.5889 7.80651 27.5484C7.77701 27.5075 7.73442 27.4869 7.67854 27.4869C7.62245 27.4869 7.57966 27.5075 7.54974 27.5484C7.52024 27.5896 7.5057 27.6486 7.5057 27.7254C7.5057 27.8025 7.52024 27.8615 7.54974 27.9024C7.57966 27.9436 7.62245 27.9639 7.67854 27.9639ZM7.5057 27.4363C7.54164 27.3893 7.58132 27.3544 7.62453 27.3315C7.66816 27.3089 7.71843 27.2975 7.77494 27.2975C7.87569 27.2975 7.95817 27.3374 8.02257 27.4171C8.08676 27.4969 8.11896 27.5997 8.11896 27.7254C8.11896 27.8507 8.08676 27.9531 8.02257 28.0329C7.95817 28.1127 7.87569 28.1526 7.77494 28.1526C7.71843 28.1526 7.66816 28.1413 7.62453 28.1193C7.58132 28.0967 7.54164 28.0616 7.5057 28.0138V28.1318H7.24561V27H7.5057V27.4363Z"
              fill="black"
              fill-opacity="0.1"></path>
            <path
              d="M8.2041 27.3174H8.4642L8.68358 27.87L8.86972 27.3174H9.12981L8.78745 28.209C8.75296 28.2992 8.71287 28.3624 8.66696 28.3985C8.62084 28.4351 8.56059 28.4533 8.48581 28.4533H8.33456V28.2822H8.416C8.46025 28.2822 8.49245 28.2749 8.51239 28.2606C8.53275 28.2466 8.54854 28.2217 8.55976 28.1858L8.56724 28.1633L8.2041 27.3174Z"
              fill="black"
              fill-opacity="0.1"></path>
            <path
              d="M10.4363 27.3431V27.5408C10.3809 27.5176 10.3271 27.5001 10.2751 27.4885C10.223 27.4769 10.174 27.471 10.128 27.471C10.0786 27.471 10.0418 27.4773 10.0175 27.4893C9.99363 27.5016 9.98179 27.5207 9.98179 27.5467C9.98179 27.5672 9.99093 27.583 10.0092 27.594C10.0275 27.6052 10.0601 27.6136 10.1073 27.619L10.153 27.6256C10.2863 27.6428 10.3761 27.6709 10.4222 27.7095C10.4681 27.7484 10.4912 27.809 10.4912 27.8915C10.4912 27.9786 10.459 28.044 10.3948 28.0876C10.331 28.1308 10.2357 28.1524 10.1089 28.1524C10.0545 28.1524 9.99862 28.1483 9.94108 28.14C9.88395 28.1317 9.82515 28.119 9.76491 28.1018V27.904C9.81643 27.9295 9.8692 27.9486 9.92363 27.9613C9.97847 27.9736 10.0341 27.9796 10.0907 27.9796C10.1416 27.9796 10.1798 27.9727 10.2053 27.9588C10.2307 27.9445 10.2436 27.9235 10.2436 27.8957C10.2436 27.8724 10.2346 27.8554 10.217 27.8441C10.1991 27.8325 10.164 27.8238 10.1114 27.8176L10.0657 27.8117C9.9498 27.7974 9.86878 27.7706 9.82224 27.7311C9.77571 27.6919 9.75244 27.6322 9.75244 27.5525C9.75244 27.4661 9.78173 27.4021 9.84052 27.3605C9.89973 27.3186 9.99051 27.2974 10.1131 27.2974C10.1607 27.2974 10.2107 27.3013 10.2635 27.309C10.3167 27.3163 10.3742 27.3277 10.4363 27.3431Z"
              fill="black"
              fill-opacity="0.1"></path>
            <path
              d="M11.0518 27.7652C10.9974 27.7652 10.9564 27.7743 10.9288 27.7926C10.9016 27.8109 10.8881 27.8381 10.8881 27.8741C10.8881 27.9073 10.8991 27.9335 10.9213 27.9522C10.9433 27.9705 10.9739 27.9796 11.0127 27.9796C11.062 27.9796 11.1033 27.9622 11.1365 27.9272C11.1702 27.8919 11.1872 27.8479 11.1872 27.7951V27.7652L11.0518 27.7652ZM11.449 27.6672V28.1317H11.1872V28.0112C11.1523 28.0606 11.1129 28.0966 11.0692 28.1192C11.0254 28.1412 10.9722 28.1524 10.9097 28.1524C10.8253 28.1524 10.757 28.1281 10.7044 28.0793C10.6517 28.0301 10.6255 27.9661 10.6255 27.8874C10.6255 27.7922 10.6581 27.7224 10.7235 27.678C10.7894 27.6331 10.8927 27.6106 11.0335 27.6106H11.1872V27.5899C11.1872 27.5489 11.1708 27.519 11.1382 27.5001C11.1054 27.4808 11.0547 27.471 10.9861 27.471C10.93 27.471 10.8781 27.4766 10.8299 27.4877C10.7821 27.4989 10.7379 27.5155 10.697 27.5375V27.3389C10.7522 27.3256 10.8079 27.3154 10.864 27.3082C10.9205 27.3011 10.977 27.2974 11.0335 27.2974C11.1802 27.2974 11.2861 27.3264 11.3509 27.3846C11.4162 27.4424 11.449 27.5365 11.449 27.6672Z"
              fill="black"
              fill-opacity="0.1"></path>
            <path
              d="M12.5102 27.6357V28.1318H12.2484V27.7537C12.2484 27.6822 12.2467 27.6332 12.2434 27.6066C12.2401 27.58 12.2345 27.5605 12.2268 27.5476C12.2168 27.531 12.2029 27.5181 12.1852 27.5086C12.168 27.4992 12.1483 27.4944 12.1262 27.4944C12.0718 27.4944 12.0292 27.5156 11.9983 27.5576C11.9671 27.5991 11.9517 27.6571 11.9517 27.7313V28.1318H11.6917V27H11.9517V27.4363C11.991 27.3893 12.0326 27.3544 12.0764 27.3316C12.1206 27.3089 12.1695 27.2975 12.2226 27.2975C12.3168 27.2975 12.3882 27.3266 12.437 27.3847C12.4857 27.4425 12.5102 27.526 12.5102 27.6357Z"
              fill="black"
              fill-opacity="0.1"></path>
            <path
              d="M13.1167 27.7652C13.0623 27.7652 13.0214 27.7743 12.9937 27.7926C12.9665 27.8109 12.953 27.8381 12.953 27.8741C12.953 27.9073 12.964 27.9335 12.9863 27.9522C13.0083 27.9705 13.0388 27.9796 13.0777 27.9796C13.1269 27.9796 13.1682 27.9622 13.2015 27.9272C13.2351 27.8919 13.2522 27.8479 13.2522 27.7951V27.7652L13.1167 27.7652ZM13.5139 27.6672V28.1317H13.2522V28.0112C13.2173 28.0606 13.1778 28.0966 13.1342 28.1192C13.0903 28.1412 13.0372 28.1524 12.9746 28.1524C12.8903 28.1524 12.8219 28.1281 12.7694 28.0793C12.7166 28.0301 12.6904 27.9661 12.6904 27.8874C12.6904 27.7922 12.723 27.7224 12.7885 27.678C12.8543 27.6331 12.9576 27.6106 13.0984 27.6106H13.2522V27.5899C13.2522 27.5489 13.2358 27.519 13.2031 27.5001C13.1703 27.4808 13.1196 27.471 13.0511 27.471C12.995 27.471 12.943 27.4766 12.8948 27.4877C12.8471 27.4989 12.8028 27.5155 12.7619 27.5375V27.3389C12.8172 27.3256 12.8728 27.3154 12.9289 27.3082C12.9854 27.3011 13.0419 27.2974 13.0984 27.2974C13.2451 27.2974 13.3511 27.3264 13.4159 27.3846C13.4811 27.4424 13.5139 27.5365 13.5139 27.6672Z"
              fill="black"
              fill-opacity="0.1"></path>
            <path
              d="M14.3615 27.5392C14.3383 27.5288 14.3152 27.5209 14.2926 27.5159C14.2703 27.5105 14.2479 27.5076 14.2253 27.5076C14.1582 27.5076 14.1066 27.5292 14.0707 27.5724C14.0346 27.6152 14.0167 27.6763 14.0167 27.756V28.1316H13.7566V27.3173H14.0167V27.4511C14.0499 27.3979 14.0882 27.3593 14.1314 27.3348C14.175 27.3098 14.2271 27.2974 14.2876 27.2974C14.2963 27.2974 14.3059 27.298 14.3158 27.299C14.3262 27.2996 14.3412 27.3011 14.3607 27.3032L14.3615 27.5392Z"
              fill="black"
              fill-opacity="0.1"></path>
            <path
              d="M14.856 27.7652C14.8016 27.7652 14.7606 27.7743 14.733 27.7926C14.7058 27.8109 14.6923 27.8381 14.6923 27.8741C14.6923 27.9073 14.7033 27.9335 14.7255 27.9522C14.7475 27.9705 14.7781 27.9796 14.8169 27.9796C14.8662 27.9796 14.9075 27.9622 14.9407 27.9272C14.9744 27.8919 14.9914 27.8479 14.9914 27.7951V27.7652L14.856 27.7652ZM15.2532 27.6672V28.1317H14.9914V28.0112C14.9565 28.0606 14.9171 28.0966 14.8734 28.1192C14.8296 28.1412 14.7764 28.1524 14.7139 28.1524C14.6295 28.1524 14.5612 28.1281 14.5086 28.0793C14.4559 28.0301 14.4297 27.9661 14.4297 27.8874C14.4297 27.7922 14.4623 27.7224 14.5277 27.678C14.5936 27.6331 14.6969 27.6106 14.8377 27.6106H14.9914V27.5899C14.9914 27.5489 14.975 27.519 14.9424 27.5001C14.9096 27.4808 14.8589 27.471 14.7903 27.471C14.7342 27.471 14.6823 27.4766 14.6341 27.4877C14.5863 27.4989 14.5421 27.5155 14.5012 27.5375V27.3389C14.5564 27.3256 14.6121 27.3154 14.6682 27.3082C14.7247 27.3011 14.7812 27.2974 14.8377 27.2974C14.9844 27.2974 15.0903 27.3264 15.1551 27.3846C15.2204 27.4424 15.2532 27.5365 15.2532 27.6672Z"
              fill="black"
              fill-opacity="0.1"></path>
            <path
              d="M16.0142 27.3174H16.2743V28.1168C16.2743 28.2259 16.2479 28.3092 16.1954 28.367C16.1432 28.4245 16.0674 28.4534 15.9677 28.4534H15.8389V28.2822H15.8846C15.9338 28.2822 15.9677 28.271 15.9859 28.2489C16.0046 28.2267 16.0142 28.1827 16.0142 28.1168L16.0142 27.3174ZM16.0142 27H16.2743V27.2127H16.0142V27Z"
              fill="black"
              fill-opacity="0.1"></path>
            <path
              d="M16.5156 27.8143V27.3174H16.7774V27.3988C16.7774 27.4433 16.777 27.4985 16.7766 27.565C16.7759 27.6315 16.7757 27.6759 16.7757 27.698C16.7757 27.764 16.7774 27.8114 16.7807 27.8401C16.7844 27.8689 16.7903 27.8897 16.7982 27.9024C16.8092 27.9196 16.8233 27.9329 16.8405 27.9423C16.8576 27.9512 16.8773 27.9556 16.8995 27.9556C16.9538 27.9556 16.9963 27.9348 17.0275 27.8933C17.0585 27.8517 17.074 27.7939 17.074 27.7196V27.3174H17.3341V28.1317H17.074V28.0137C17.0346 28.0615 16.993 28.0966 16.9494 28.1193C16.9056 28.1413 16.8572 28.1525 16.804 28.1525C16.7103 28.1525 16.6388 28.1238 16.5896 28.0661C16.5401 28.0085 16.5156 27.9246 16.5156 27.8143Z"
              fill="black"
              fill-opacity="0.1"></path>
            <path
              d="M18.4032 27.6356V28.1316H18.1415V27.7519C18.1415 27.6817 18.1398 27.6331 18.1365 27.6065C18.1332 27.5799 18.1276 27.5603 18.1199 27.5475C18.1099 27.5308 18.096 27.518 18.0783 27.5084C18.0611 27.4991 18.0413 27.4943 18.0193 27.4943C17.9649 27.4943 17.9223 27.5155 17.8913 27.5574C17.8602 27.599 17.8448 27.6569 17.8448 27.7311V28.1316H17.5847V27.3173H17.8448V27.4361C17.8841 27.3892 17.9256 27.3543 17.9695 27.3314C18.0137 27.3088 18.0625 27.2974 18.1157 27.2974C18.2098 27.2974 18.2813 27.3264 18.3301 27.3846C18.3787 27.4424 18.4032 27.5259 18.4032 27.6356Z"
              fill="black"
              fill-opacity="0.1"></path>
            <path
              d="M19.0098 27.7652C18.9554 27.7652 18.9144 27.7743 18.8868 27.7926C18.8596 27.8109 18.8461 27.8381 18.8461 27.8741C18.8461 27.9073 18.8571 27.9335 18.8793 27.9522C18.9014 27.9705 18.9319 27.9796 18.9707 27.9796C19.02 27.9796 19.0613 27.9622 19.0946 27.9272C19.1282 27.8919 19.1452 27.8479 19.1452 27.7951V27.7652L19.0098 27.7652ZM19.407 27.6672V28.1317H19.1452V28.0112C19.1103 28.0606 19.0709 28.0966 19.0272 28.1192C18.9834 28.1412 18.9302 28.1524 18.8677 28.1524C18.7834 28.1524 18.715 28.1281 18.6624 28.0793C18.6097 28.0301 18.5835 27.9661 18.5835 27.8874C18.5835 27.7922 18.6161 27.7224 18.6816 27.678C18.7474 27.6331 18.8507 27.6106 18.9915 27.6106H19.1452V27.5899C19.1452 27.5489 19.1288 27.519 19.0962 27.5001C19.0634 27.4808 19.0127 27.471 18.9441 27.471C18.888 27.471 18.8361 27.4766 18.7879 27.4877C18.7401 27.4989 18.6959 27.5155 18.655 27.5375V27.3389C18.7102 27.3256 18.7659 27.3154 18.822 27.3082C18.8785 27.3011 18.935 27.2974 18.9915 27.2974C19.1382 27.2974 19.2441 27.3264 19.3089 27.3846C19.3742 27.4424 19.407 27.5365 19.407 27.6672Z"
              fill="black"
              fill-opacity="0.1"></path>
            <path
              d="M20.2032 27.4363V27H20.4649V28.1318H20.2032V28.0138C20.1676 28.062 20.1284 28.0973 20.0852 28.1193C20.0419 28.1413 19.9917 28.1526 19.9347 28.1526C19.8344 28.1526 19.7521 28.1127 19.6879 28.0329C19.6235 27.9531 19.5916 27.8507 19.5916 27.7254C19.5916 27.5997 19.6235 27.4969 19.6879 27.4171C19.7521 27.3374 19.8344 27.2975 19.9347 27.2975C19.9913 27.2975 20.0411 27.3089 20.0843 27.3315C20.1279 27.3544 20.1676 27.3893 20.2032 27.4363ZM20.032 27.9639C20.0872 27.9639 20.1296 27.9438 20.1591 27.9033C20.1884 27.8624 20.2031 27.8031 20.2031 27.7254C20.2031 27.648 20.1884 27.589 20.1591 27.5484C20.1296 27.5075 20.0872 27.487 20.032 27.487C19.9765 27.487 19.9341 27.5075 19.9048 27.5484C19.8753 27.589 19.8608 27.648 19.8608 27.7254C19.8608 27.8031 19.8753 27.8623 19.9048 27.9033C19.9341 27.9438 19.9765 27.9639 20.032 27.9639Z"
              fill="black"
              fill-opacity="0.1"></path>
            <path
              d="M20.7158 27.3174H20.9759V28.1318H20.7158V27.3174ZM20.7158 27H20.9759V27.2127H20.7158V27Z"
              fill="black"
              fill-opacity="0.1"></path>
            <path
              d="M21.831 27.5392C21.8078 27.5288 21.7847 27.5209 21.762 27.5159C21.7398 27.5105 21.7174 27.5076 21.6947 27.5076C21.6276 27.5076 21.5761 27.5292 21.5402 27.5724C21.504 27.6152 21.4862 27.6763 21.4862 27.756V28.1316H21.2261V27.3173H21.4862V27.4511C21.5194 27.3979 21.5576 27.3593 21.6008 27.3348C21.6445 27.3098 21.6966 27.2974 21.7571 27.2974C21.7658 27.2974 21.7753 27.298 21.7853 27.299C21.7957 27.2996 21.8107 27.3011 21.8302 27.3032L21.831 27.5392Z"
              fill="black"
              fill-opacity="0.1"></path>
            <path
              d="M0.632372 28.4893V28.6604H0.488614C0.45205 28.6604 0.426289 28.6671 0.411334 28.6804C0.396792 28.6937 0.389728 28.7169 0.389728 28.7502V28.8067H0.612431V28.9928H0.389728V29.621H0.129633V28.9928H0V28.8067H0.129633V28.7502C0.129633 28.6617 0.154147 28.596 0.203589 28.5532C0.252824 28.5107 0.329483 28.4893 0.433769 28.4893L0.632372 28.4893Z"
              fill="black"
              fill-opacity="0.1"></path>
            <path
              d="M1.35007 29.0284C1.3268 29.018 1.30374 29.0101 1.28109 29.0051C1.25886 28.9997 1.23643 28.9968 1.21378 28.9968C1.14668 28.9968 1.09516 29.0184 1.05922 29.0617C1.02308 29.1044 1.00521 29.1655 1.00521 29.2453V29.6209H0.745117V28.8066H1.00521V28.9404C1.03845 28.8872 1.07668 28.8485 1.11989 28.824C1.16351 28.7991 1.21566 28.7866 1.27611 28.7866C1.28483 28.7866 1.29439 28.7872 1.30436 28.7883C1.31475 28.7889 1.32971 28.7904 1.34924 28.7924L1.35007 29.0284Z"
              fill="black"
              fill-opacity="0.1"></path>
            <path
              d="M1.8667 28.9728C1.80895 28.9728 1.7649 28.9935 1.73457 29.0351C1.70403 29.0766 1.68887 29.1365 1.68887 29.2146C1.68887 29.2927 1.70403 29.3525 1.73457 29.3941C1.7649 29.4352 1.80894 29.4556 1.8667 29.4556C1.9232 29.4556 1.96642 29.4352 1.99633 29.3941C2.02666 29.3525 2.04203 29.2927 2.04203 29.2146C2.04203 29.1365 2.02666 29.0766 1.99633 29.0351C1.96642 28.9935 1.9232 28.9728 1.8667 28.9728ZM1.8667 28.7866C2.00672 28.7866 2.1162 28.8246 2.19494 28.9005C2.27347 28.9759 2.31294 29.0806 2.31294 29.2146C2.31294 29.3482 2.27347 29.4529 2.19494 29.5287C2.1162 29.6041 2.00672 29.6417 1.8667 29.6417C1.72585 29.6417 1.61595 29.6041 1.5368 29.5287C1.45744 29.4529 1.41797 29.3482 1.41797 29.2146C1.41797 29.0806 1.45744 28.9759 1.5368 28.9005C1.61595 28.8246 1.72585 28.7866 1.8667 28.7866Z"
              fill="black"
              fill-opacity="0.1"></path>
            <path
              d="M3.25717 28.942C3.28979 28.8917 3.32885 28.8531 3.37434 28.8265C3.41963 28.7999 3.46949 28.7866 3.52392 28.7866C3.6174 28.7866 3.68866 28.8157 3.73748 28.8739C3.78671 28.9316 3.81143 29.0151 3.81143 29.1248V29.6209H3.54967V29.1963V29.1772C3.55009 29.1701 3.5505 29.1601 3.5505 29.1473C3.5505 29.0897 3.54178 29.0482 3.52474 29.0226C3.50812 28.9966 3.48091 28.9836 3.44331 28.9836C3.39387 28.9836 3.35564 29.0041 3.32864 29.045C3.30142 29.0856 3.2875 29.1444 3.28709 29.2212V29.6209H3.02533V29.1963C3.02533 29.1061 3.01743 29.0482 3.00206 29.0226C2.98648 28.9966 2.95885 28.9836 2.91896 28.9836C2.8691 28.9836 2.83046 29.0041 2.80345 29.045C2.77624 29.0856 2.76274 29.1439 2.76274 29.2204V29.6209H2.50098V28.8066H2.76274V28.9254C2.79473 28.8795 2.83129 28.8448 2.87243 28.8215C2.91398 28.7983 2.95968 28.7866 3.00954 28.7866C3.06604 28.7866 3.1159 28.8003 3.15911 28.8274C3.20232 28.8546 3.23494 28.8928 3.25717 28.942Z"
              fill="black"
              fill-opacity="0.1"></path>
            <path
              d="M4.85701 28.5757V28.8067H5.12542V28.9928H4.85701V29.3385C4.85701 29.3763 4.86449 29.4017 4.87945 29.415C4.89441 29.4283 4.92391 29.4349 4.96837 29.4349H5.10215V29.6211H4.87945C4.77641 29.6211 4.70328 29.5999 4.66007 29.5571C4.61728 29.5139 4.59609 29.4412 4.59609 29.3385V28.9928H4.46729V28.8067H4.59609V28.5757H4.85701Z"
              fill="black"
              fill-opacity="0.1"></path>
            <path
              d="M6.10294 29.125V29.621H5.84118V29.2429C5.84118 29.1715 5.83952 29.1225 5.83619 29.0959C5.83287 29.0693 5.82726 29.0497 5.81957 29.0369C5.8096 29.0202 5.79568 29.0074 5.77802 28.9978C5.76078 28.9885 5.74104 28.9837 5.71902 28.9837C5.6646 28.9837 5.62201 29.0049 5.59105 29.0468C5.55989 29.0884 5.54452 29.1463 5.54452 29.2205V29.621H5.28442V28.4893H5.54452V28.9255C5.58378 28.8786 5.62533 28.8437 5.66917 28.8208C5.71342 28.7982 5.76224 28.7867 5.81542 28.7867C5.90953 28.7867 5.981 28.8158 6.02981 28.874C6.07842 28.9317 6.10294 29.0153 6.10294 29.125Z"
              fill="black"
              fill-opacity="0.1"></path>
            <path
              d="M7.1574 29.2113V29.286H6.5483C6.55495 29.3471 6.57697 29.3928 6.61478 29.4231C6.65238 29.4537 6.70535 29.4689 6.77349 29.4689C6.82834 29.4689 6.88422 29.461 6.94135 29.4448C6.99889 29.4281 7.05789 29.4036 7.11835 29.3708V29.5711C7.05686 29.5943 6.99536 29.6118 6.93387 29.6234C6.87238 29.6355 6.81088 29.6417 6.74939 29.6417C6.60189 29.6417 6.48721 29.6043 6.40536 29.5295C6.32393 29.4547 6.2832 29.3498 6.2832 29.2146C6.2832 29.0816 6.3233 28.9773 6.40369 28.9013C6.48388 28.8248 6.59419 28.7866 6.73443 28.7866C6.86239 28.7866 6.96481 28.8255 7.04189 28.903C7.11875 28.98 7.1574 29.0829 7.1574 29.2113ZM6.88983 29.1248C6.88983 29.0756 6.87528 29.0359 6.84662 29.006C6.81774 28.9757 6.78014 28.9603 6.7336 28.9603C6.68312 28.9603 6.64219 28.9744 6.61062 29.0027C6.57904 29.0309 6.5593 29.0716 6.55162 29.1248H6.88983Z"
              fill="black"
              fill-opacity="0.1"></path>
            <path
              d="M7.88452 28.5356H8.19697L8.59169 29.2802V28.5356H8.85677V29.6209H8.54432L8.14961 28.8763V29.6209H7.88452V28.5356Z"
              fill="black"
              fill-opacity="0.1"></path>
            <path
              d="M9.50635 28.9728C9.4486 28.9728 9.40455 28.9935 9.37422 29.0351C9.34368 29.0766 9.32852 29.1365 9.32852 29.2146C9.32852 29.2927 9.34368 29.3525 9.37422 29.3941C9.40455 29.4352 9.44859 29.4556 9.50635 29.4556C9.56285 29.4556 9.60606 29.4352 9.63598 29.3941C9.66631 29.3525 9.68168 29.2927 9.68168 29.2146C9.68168 29.1365 9.66631 29.0766 9.63598 29.0351C9.60606 28.9935 9.56285 28.9728 9.50635 28.9728ZM9.50635 28.7866C9.64637 28.7866 9.75585 28.8246 9.83458 28.9005C9.91311 28.9759 9.95259 29.0806 9.95259 29.2146C9.95259 29.3482 9.91311 29.4529 9.83458 29.5287C9.75585 29.6041 9.64637 29.6417 9.50635 29.6417C9.3655 29.6417 9.2556 29.6041 9.17645 29.5287C9.09709 29.4529 9.05762 29.3482 9.05762 29.2146C9.05762 29.0806 9.09709 28.9759 9.17645 28.9005C9.2556 28.8246 9.3655 28.7866 9.50635 28.7866Z"
              fill="black"
              fill-opacity="0.1"></path>
            <path
              d="M10.1333 29.3036V28.8066H10.3951V28.8881C10.3951 28.9325 10.3946 28.9878 10.3942 29.0543C10.3936 29.1207 10.3934 29.1652 10.3934 29.1872C10.3934 29.2533 10.3951 29.3007 10.3984 29.3293C10.4021 29.3582 10.4079 29.379 10.4158 29.3917C10.4268 29.4089 10.441 29.4222 10.4582 29.4315C10.4753 29.4405 10.495 29.4448 10.5172 29.4448C10.5714 29.4448 10.614 29.4241 10.6452 29.3825C10.6761 29.341 10.6917 29.2832 10.6917 29.2088V28.8066H10.9518V29.621H10.6917V29.503C10.6522 29.5508 10.6107 29.5859 10.5671 29.6085C10.5232 29.6305 10.4748 29.6417 10.4216 29.6417C10.328 29.6417 10.2565 29.6131 10.2073 29.5553C10.1578 29.4978 10.1333 29.4139 10.1333 29.3036Z"
              fill="black"
              fill-opacity="0.1"></path>
            <path
              d="M12.0209 29.1248V29.6209H11.7591V29.2411C11.7591 29.1709 11.7575 29.1223 11.7542 29.0957C11.7508 29.0691 11.7452 29.0496 11.7375 29.0367C11.7276 29.0201 11.7137 29.0072 11.696 28.9977C11.6787 28.9883 11.659 28.9835 11.637 28.9835C11.5826 28.9835 11.54 29.0047 11.509 29.0467C11.4779 29.0882 11.4625 29.1462 11.4625 29.2204V29.6209H11.2024V28.8066H11.4625V28.9254C11.5018 28.8784 11.5433 28.8435 11.5871 28.8207C11.6314 28.798 11.6802 28.7866 11.7334 28.7866C11.8275 28.7866 11.899 28.8157 11.9478 28.8739C11.9964 28.9316 12.0209 29.0151 12.0209 29.1248Z"
              fill="black"
              fill-opacity="0.1"></path>
            <path
              d="M12.7925 28.5356H13.257C13.3949 28.5356 13.5007 28.5664 13.5744 28.6279C13.6486 28.689 13.6858 28.7762 13.6858 28.8896C13.6858 29.0033 13.6486 29.0907 13.5744 29.1522C13.5007 29.2137 13.3949 29.2445 13.257 29.2445H13.0717V29.6209H12.7925V28.5356ZM13.0717 28.7384V29.0417H13.2271C13.2813 29.0417 13.3231 29.0284 13.3526 29.0018C13.3825 28.9752 13.3974 28.9378 13.3974 28.8896C13.3974 28.841 13.3825 28.8036 13.3526 28.7775C13.3231 28.7515 13.2813 28.7384 13.2271 28.7384L13.0717 28.7384Z"
              fill="black"
              fill-opacity="0.1"></path>
            <path
              d="M14.4773 29.0284C14.454 29.018 14.4309 29.0101 14.4083 29.0051C14.3861 28.9997 14.3636 28.9968 14.341 28.9968C14.2739 28.9968 14.2224 29.0184 14.1864 29.0617C14.1503 29.1044 14.1324 29.1655 14.1324 29.2453V29.6209H13.8723V28.8066H14.1324V28.9404C14.1656 28.8872 14.2039 28.8485 14.2471 28.824C14.2907 28.7991 14.3429 28.7866 14.4033 28.7866C14.412 28.7866 14.4216 28.7872 14.4316 28.7883C14.4419 28.7889 14.4569 28.7904 14.4764 28.7924L14.4773 29.0284Z"
              fill="black"
              fill-opacity="0.1"></path>
            <path
              d="M14.9937 28.9728C14.9359 28.9728 14.8919 28.9935 14.8615 29.0351C14.831 29.0766 14.8158 29.1365 14.8158 29.2146C14.8158 29.2927 14.831 29.3525 14.8615 29.3941C14.8919 29.4352 14.9359 29.4556 14.9937 29.4556C15.0502 29.4556 15.0934 29.4352 15.1233 29.3941C15.1536 29.3525 15.169 29.2927 15.169 29.2146C15.169 29.1365 15.1536 29.0766 15.1233 29.0351C15.0934 28.9935 15.0502 28.9728 14.9937 28.9728ZM14.9937 28.7866C15.1337 28.7866 15.2432 28.8246 15.3219 28.9005C15.4004 28.9759 15.4399 29.0806 15.4399 29.2146C15.4399 29.3482 15.4004 29.4529 15.3219 29.5287C15.2432 29.6041 15.1337 29.6417 14.9937 29.6417C14.8528 29.6417 14.7429 29.6041 14.6638 29.5287C14.5844 29.4529 14.5449 29.3482 14.5449 29.2146C14.5449 29.0806 14.5844 28.9759 14.6638 28.9005C14.7429 28.8246 14.8528 28.7866 14.9937 28.7866Z"
              fill="black"
              fill-opacity="0.1"></path>
            <path
              d="M15.6297 28.8067H15.8898V29.6061C15.8898 29.7152 15.8634 29.7985 15.8108 29.8562C15.7587 29.9138 15.6829 29.9426 15.5831 29.9426H15.4543V29.7714H15.5C15.5493 29.7714 15.5831 29.7602 15.6014 29.7382C15.6201 29.716 15.6297 29.6719 15.6297 29.6061L15.6297 28.8067ZM15.6297 28.4893H15.8898V28.702H15.6297V28.4893Z"
              fill="black"
              fill-opacity="0.1"></path>
            <path
              d="M16.9528 29.2113V29.286H16.3437C16.3504 29.3471 16.3724 29.3928 16.4102 29.4231C16.4478 29.4537 16.5008 29.4689 16.5689 29.4689C16.6237 29.4689 16.6796 29.461 16.7368 29.4448C16.7943 29.4281 16.8533 29.4036 16.9138 29.3708V29.5711C16.8523 29.5943 16.7908 29.6118 16.7293 29.6234C16.6678 29.6355 16.6063 29.6417 16.5448 29.6417C16.3973 29.6417 16.2826 29.6043 16.2008 29.5295C16.1193 29.4547 16.0786 29.3498 16.0786 29.2146C16.0786 29.0816 16.1187 28.9773 16.1991 28.9013C16.2793 28.8248 16.3896 28.7866 16.5298 28.7866C16.6578 28.7866 16.7602 28.8255 16.8373 28.903C16.9142 28.98 16.9528 29.0829 16.9528 29.2113ZM16.6852 29.1248C16.6852 29.0756 16.6707 29.0359 16.642 29.006C16.6131 28.9757 16.5755 28.9603 16.529 28.9603C16.4785 28.9603 16.4376 28.9744 16.406 29.0027C16.3745 29.0309 16.3547 29.0716 16.347 29.1248H16.6852Z"
              fill="black"
              fill-opacity="0.1"></path>
            <path
              d="M17.8074 28.8323V29.0442C17.7725 29.0199 17.737 29.0018 17.7011 28.9902C17.6655 28.9786 17.6288 28.9728 17.5905 28.9728C17.5178 28.9728 17.4611 28.9942 17.4202 29.0367C17.3797 29.0789 17.3595 29.1381 17.3595 29.2146C17.3595 29.2906 17.3797 29.3498 17.4202 29.3924C17.4611 29.4346 17.5178 29.4556 17.5905 29.4556C17.6308 29.4556 17.6695 29.4497 17.706 29.4381C17.7426 29.4261 17.7763 29.408 17.8074 29.3841V29.5968C17.7669 29.6118 17.7256 29.6228 17.6836 29.6301C17.6421 29.6378 17.5999 29.6417 17.5573 29.6417C17.4104 29.6417 17.2955 29.6041 17.2124 29.5287C17.1298 29.4535 17.0886 29.3488 17.0886 29.2146C17.0886 29.08 17.1298 28.975 17.2124 28.8996C17.2955 28.8244 17.4104 28.7866 17.5573 28.7866C17.5999 28.7866 17.6421 28.7906 17.6836 28.7983C17.7252 28.8055 17.7663 28.8169 17.8074 28.8323Z"
              fill="black"
              fill-opacity="0.1"></path>
            <path
              d="M18.317 28.5757V28.8067H18.5854V28.9928H18.317V29.3385C18.317 29.3763 18.3245 29.4017 18.3394 29.415C18.3544 29.4283 18.3839 29.4349 18.4283 29.4349H18.5621V29.6211H18.3394C18.2364 29.6211 18.1632 29.5999 18.12 29.5571C18.0772 29.5139 18.056 29.4412 18.056 29.3385V28.9928H17.9272V28.8067H18.056V28.5757H18.317Z"
              fill="black"
              fill-opacity="0.1"></path>
          </svg>
        </div>
        <span slot="contacttxt">+45 3345 5121</span>
      </Contacttile>
    </div>
    <footer>
      <Footercomp />
    </footer>
  </body>
</html>
