---
const contacttxtn = Astro.props.display
const link = Astro.props.href
const target = Astro.props.target
---
<li>
    <a href={link} target={target}>
        <div class="contacttile">
            <div class="ctileicon"> 
                <slot name="icon" />
            </div> 
            <div class="contacttext">
                {contacttxtn}
            </div>
        </div>
    </a>
</li>
<style>
    .contacttile{
        display: flex;
        align-items: center;
        gap: var(--spacing-min);
        /* background-color: aqua; */
        /* margin-bottom: var(--spacing-normal); */
        border-radius: var(--br-thumbnail);
        transition: var(--standard-transition);
        padding-right: var(--spacing-min);
    }
    .ctileicon{
        display: flex;
        place-content: center;
        align-items: center;
        width: 45px;
        height: 45px;
        background-color: var(--primbutton-text);
        border-radius: var(--br-thumbnail); 
    }
    .contacttext{
        color: var(--light-text);
        font-size: var(--body-text-desktop-font-size);
        font-weight: var(--body-text-desktop-font-weight);
    }

    .contacttile:hover{
        background-color: var(--gray-hovering);
    }
</style>