---

---

<div id="expanderarea" class="bottom">
    <svg id="exparrow" width="41" height="15" viewBox="0 0 41 15" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M0.581062 0.529883C1.28538 -0.159277 2.5 -0.0386742 3.38668 0.529883L20.5 9.96133L37.6133 0.529883C38.5 -0.0388184 39.4198 -0.221928 40.1964 0.34193L40.4189 0.529883C41.1233 1.21904 41.1873 2.29747 40.611 3.0574L40.4189 3.27512L21.9028 14.0801C21 14.4613 20 14.4613 19.0972 14.0801L0.581062 3.27512C-0.193687 2.51704 -0.193687 1.28796 0.581062 0.529883Z" fill="#535252"/>
    </svg>
</div>

<style>
    #expanderarea{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 3rem;
        /* border: 2pt solid rgba(0, 0, 0, 0.441); */
        border-bottom-left-radius: inherit;
        border-bottom-right-radius: inherit;
        cursor: pointer;
        background: linear-gradient(#f8f8f8d1, #F8F8F8 80%);
        position: relative;
    }

    .bottom{
        bottom: 3rem;
    }

    .arrowmirror{
        transform: rotate(180deg);
    }
</style>