---
import Herobanner from "../components/Herobanner.astro"
import Navarrow from "../components/Navarrow.astro"
---
<h2 hidden>Highlights</h2>
<div id="heroframe">
    <div id="rightarrow">
        <Navarrow/>
    </div>
    <div id="leftarrow">
        <Navarrow/>
    </div>
    <Herobanner />
</div>

<style>
    #rightarrow {
        position: absolute;
        rotate: 180deg;
        top: 50%;
        right: var(--spacing-normal);
    }
    #leftarrow {
        position: absolute;
        top: 50%;
        left: var(--spacing-normal);
    }
    #heroframe {
        position: relative;
        display: flex;
        width: 100%;
        max-height: 50vh;
        min-height: 200px;
        border-radius: var(--br-image);
        overflow: clip;
    }

    @media screen and (max-width: 1024px){

        #heroframe {
            min-height: 50vh;
            max-height: 300px;
        } 

    }
</style>