---

---

<a href="#">
    <img src="public/karruselbillede2.webp">
    <div class="bannertext">
        <h3 class="tiletitle"></h3>
        <h3>Ayumi Shimonoto</h3>
        <p>For the first time here in Copenhagen. Traditional japanese music on shakuhachi.</p>
    </div>
</a>

<style>
    a{
        display: flex;
        width: 100%;
    }

    img {
        object-fit: cover;
        width: 100%;
    }
    .bannertext {
        position: absolute;
        bottom: 10%;
        left: 5%;
        text-align: left;
        text-shadow: var(--shadow-20-color) var(--shadow-20-x) var(--shadow-20-y) var(--shadow-20-blur);
    }
    .bannertext h3, .bannertext p{
        color: var(--white-text);
        margin: 0;
    }
</style>