---
---

<div id="logo">
  <div id="circback">
    <div id="circ"></div>
  </div>
  <div id="logotype">
    <svg
      width="246"
      height="32"
      viewBox="0 0 246 32"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        d="M10.206 31.42C4.956 31.42 1.218 29.236 1.092 24.49H4.914C5.25 27.178 7.56 28.144 10.248 28.144C12.936 28.144 15.036 27.178 15.036 24.826C15.036 23.062 13.818 22.348 11.76 21.886L7.686 20.962C3.57 19.996 1.722 17.896 1.722 14.956C1.722 10.966 5.124 8.74 10.206 8.74C15.414 8.74 18.564 11.092 18.774 15.586H15.204C14.826 12.898 12.978 12.016 10.248 12.016C7.392 12.016 5.838 12.982 5.838 14.872C5.838 16.384 6.804 17.308 9.072 17.812L13.188 18.736C16.716 19.576 19.362 21.004 19.362 24.742C19.362 29.572 14.994 31.42 10.206 31.42ZM27.7348 31.42C23.6608 31.42 20.4268 29.614 20.4268 25.288C20.4268 21.088 23.4928 19.366 27.3988 18.904L32.8168 18.274C34.8328 18.022 35.5048 17.644 35.5048 16.972V16.384C35.5048 12.898 33.6988 11.974 30.6328 11.974C27.4828 11.974 25.7188 12.898 25.7188 15.67V16.174H21.6448V15.292C21.6448 10.924 24.7108 8.74 30.7168 8.74C36.8908 8.74 39.7468 11.05 39.7468 16.342V31H35.7568V27.472H35.5888C35.1688 28.312 33.1108 31.42 27.7348 31.42ZM24.6688 25.078C24.6688 27.136 26.1388 28.102 28.7848 28.102C33.4048 28.102 35.5048 25.246 35.5048 22.894V20.5C35.2108 20.962 34.6648 21.256 32.5228 21.508L28.4068 22.054C25.6768 22.39 24.6688 23.356 24.6688 25.078ZM43.1445 31V1.6H47.3865V20.122L57.6345 9.16H62.4225L53.3085 18.568L63.5985 31H58.8525L50.6625 21.298L47.3865 24.658V31H43.1445ZM68.9722 21.802C68.9722 25.708 70.6522 27.85 74.0962 27.85C77.5402 27.85 79.9342 25.708 79.9342 21.802V9.16H84.1762V31H79.9342V26.632H79.8082C79.4302 28.27 77.3302 31.42 72.4582 31.42C68.1742 31.42 64.7302 28.942 64.7302 22.768V9.16H68.9722V21.802ZM87.6284 31V9.16H91.8704V14.2H91.9964C92.6264 11.638 94.6844 8.908 98.6744 8.908C99.2204 8.908 99.8084 8.95 100.312 9.118V12.688C99.7664 12.604 99.2624 12.562 98.7164 12.562C94.6424 12.562 91.8704 15.208 91.8704 20.08V31H87.6284ZM107.474 31.42C103.4 31.42 100.166 29.614 100.166 25.288C100.166 21.088 103.232 19.366 107.138 18.904L112.556 18.274C114.572 18.022 115.244 17.644 115.244 16.972V16.384C115.244 12.898 113.438 11.974 110.372 11.974C107.222 11.974 105.458 12.898 105.458 15.67V16.174H101.384V15.292C101.384 10.924 104.45 8.74 110.456 8.74C116.63 8.74 119.486 11.05 119.486 16.342V31H115.496V27.472H115.328C114.908 28.312 112.85 31.42 107.474 31.42ZM104.408 25.078C104.408 27.136 105.878 28.102 108.524 28.102C113.144 28.102 115.244 25.246 115.244 22.894V20.5C114.95 20.962 114.404 21.256 112.262 21.508L108.146 22.054C105.416 22.39 104.408 23.356 104.408 25.078Z"
        fill="#FFC0CB"></path>
      <path
        d="M124.438 6.724C124.438 2.44 127 0.927999 130.612 0.927999H133.258V4.246H131.662C129.478 4.246 128.68 5.17 128.68 7.312V9.16H133.132V12.478H128.68V31H124.438V12.478H121.414V9.16H124.438V6.724ZM144.119 31.42C138.239 31.42 133.535 27.976 133.535 20.122C133.535 12.1 138.323 8.74 143.951 8.74C149.579 8.74 153.905 12.142 153.905 19.786C153.905 20.542 153.863 20.962 153.779 21.424H137.609C137.945 26.002 140.255 28.102 144.161 28.102C146.849 28.102 148.907 27.136 149.831 24.574H153.611C152.309 29.446 148.571 31.42 144.119 31.42ZM137.651 18.232H149.873C149.789 14.41 147.647 12.058 143.909 12.058C140.423 12.058 138.029 14.074 137.651 18.232ZM164.147 31.42C158.897 31.42 155.159 29.236 155.033 24.49H158.855C159.191 27.178 161.501 28.144 164.189 28.144C166.877 28.144 168.977 27.178 168.977 24.826C168.977 23.062 167.759 22.348 165.701 21.886L161.627 20.962C157.511 19.996 155.663 17.896 155.663 14.956C155.663 10.966 159.065 8.74 164.147 8.74C169.355 8.74 172.505 11.092 172.715 15.586H169.145C168.767 12.898 166.919 12.016 164.189 12.016C161.333 12.016 159.779 12.982 159.779 14.872C159.779 16.384 160.745 17.308 163.013 17.812L167.129 18.736C170.657 19.576 173.303 21.004 173.303 24.742C173.303 29.572 168.935 31.42 164.147 31.42ZM183.732 31.294C180.078 31.294 177.6 29.74 177.6 25.456V12.52H174.03V9.16H177.6V3.658H181.842V9.16H186.168V12.52H181.842V24.742C181.842 26.884 182.556 27.85 184.908 27.85C185.412 27.85 185.79 27.85 186.462 27.766V30.958C185.664 31.168 184.74 31.294 183.732 31.294ZM188.637 31V9.16H192.879V31H188.637ZM188.217 2.86C188.217 1.474 189.393 0.339999 190.737 0.339999C192.081 0.339999 193.257 1.474 193.257 2.86C193.257 4.288 192.081 5.38 190.737 5.38C189.393 5.38 188.217 4.288 188.217 2.86ZM202.917 31L194.643 9.16H198.969L205.521 26.968H205.689L212.241 9.16H216.567L208.251 31H202.917ZM223.342 31.42C219.268 31.42 216.034 29.614 216.034 25.288C216.034 21.088 219.1 19.366 223.006 18.904L228.424 18.274C230.44 18.022 231.112 17.644 231.112 16.972V16.384C231.112 12.898 229.306 11.974 226.24 11.974C223.09 11.974 221.326 12.898 221.326 15.67V16.174H217.252V15.292C217.252 10.924 220.318 8.74 226.324 8.74C232.498 8.74 235.354 11.05 235.354 16.342V31H231.364V27.472H231.196C230.776 28.312 228.718 31.42 223.342 31.42ZM220.276 25.078C220.276 27.136 221.746 28.102 224.392 28.102C229.012 28.102 231.112 25.246 231.112 22.894V20.5C230.818 20.962 230.272 21.256 228.13 21.508L224.014 22.054C221.284 22.39 220.276 23.356 220.276 25.078ZM238.751 31V1.6H242.993V31H238.751Z"
        fill="#BCBCBC"></path>
    </svg>
    <div id="logodates">18 & 19 march 2024</div>
  </div>

  <div id="circback">
    <div id="circ"></div>
  </div>
  <div>
    <svg
      width="246"
      height="32"
      viewBox="0 0 246 32"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        d="M10.206 31.42C4.956 31.42 1.218 29.236 1.092 24.49H4.914C5.25 27.178 7.56 28.144 10.248 28.144C12.936 28.144 15.036 27.178 15.036 24.826C15.036 23.062 13.818 22.348 11.76 21.886L7.686 20.962C3.57 19.996 1.722 17.896 1.722 14.956C1.722 10.966 5.124 8.74 10.206 8.74C15.414 8.74 18.564 11.092 18.774 15.586H15.204C14.826 12.898 12.978 12.016 10.248 12.016C7.392 12.016 5.838 12.982 5.838 14.872C5.838 16.384 6.804 17.308 9.072 17.812L13.188 18.736C16.716 19.576 19.362 21.004 19.362 24.742C19.362 29.572 14.994 31.42 10.206 31.42ZM27.7348 31.42C23.6608 31.42 20.4268 29.614 20.4268 25.288C20.4268 21.088 23.4928 19.366 27.3988 18.904L32.8168 18.274C34.8328 18.022 35.5048 17.644 35.5048 16.972V16.384C35.5048 12.898 33.6988 11.974 30.6328 11.974C27.4828 11.974 25.7188 12.898 25.7188 15.67V16.174H21.6448V15.292C21.6448 10.924 24.7108 8.74 30.7168 8.74C36.8908 8.74 39.7468 11.05 39.7468 16.342V31H35.7568V27.472H35.5888C35.1688 28.312 33.1108 31.42 27.7348 31.42ZM24.6688 25.078C24.6688 27.136 26.1388 28.102 28.7848 28.102C33.4048 28.102 35.5048 25.246 35.5048 22.894V20.5C35.2108 20.962 34.6648 21.256 32.5228 21.508L28.4068 22.054C25.6768 22.39 24.6688 23.356 24.6688 25.078ZM43.1445 31V1.6H47.3865V20.122L57.6345 9.16H62.4225L53.3085 18.568L63.5985 31H58.8525L50.6625 21.298L47.3865 24.658V31H43.1445ZM68.9722 21.802C68.9722 25.708 70.6522 27.85 74.0962 27.85C77.5402 27.85 79.9342 25.708 79.9342 21.802V9.16H84.1762V31H79.9342V26.632H79.8082C79.4302 28.27 77.3302 31.42 72.4582 31.42C68.1742 31.42 64.7302 28.942 64.7302 22.768V9.16H68.9722V21.802ZM87.6284 31V9.16H91.8704V14.2H91.9964C92.6264 11.638 94.6844 8.908 98.6744 8.908C99.2204 8.908 99.8084 8.95 100.312 9.118V12.688C99.7664 12.604 99.2624 12.562 98.7164 12.562C94.6424 12.562 91.8704 15.208 91.8704 20.08V31H87.6284ZM107.474 31.42C103.4 31.42 100.166 29.614 100.166 25.288C100.166 21.088 103.232 19.366 107.138 18.904L112.556 18.274C114.572 18.022 115.244 17.644 115.244 16.972V16.384C115.244 12.898 113.438 11.974 110.372 11.974C107.222 11.974 105.458 12.898 105.458 15.67V16.174H101.384V15.292C101.384 10.924 104.45 8.74 110.456 8.74C116.63 8.74 119.486 11.05 119.486 16.342V31H115.496V27.472H115.328C114.908 28.312 112.85 31.42 107.474 31.42ZM104.408 25.078C104.408 27.136 105.878 28.102 108.524 28.102C113.144 28.102 115.244 25.246 115.244 22.894V20.5C114.95 20.962 114.404 21.256 112.262 21.508L108.146 22.054C105.416 22.39 104.408 23.356 104.408 25.078Z"
        fill="#F08790"></path>
      <path
        d="M126.906 6.724C126.906 2.44 129.468 0.927999 133.08 0.927999H135.726V4.246H134.13C131.946 4.246 131.148 5.17 131.148 7.312V9.16H135.6V12.478H131.148V31H126.906V12.478H123.882V9.16H126.906V6.724ZM146.587 31.42C140.707 31.42 136.003 27.976 136.003 20.122C136.003 12.1 140.791 8.74 146.419 8.74C152.047 8.74 156.373 12.142 156.373 19.786C156.373 20.542 156.331 20.962 156.247 21.424H140.077C140.413 26.002 142.723 28.102 146.629 28.102C149.317 28.102 151.375 27.136 152.299 24.574H156.079C154.777 29.446 151.039 31.42 146.587 31.42ZM140.119 18.232H152.341C152.257 14.41 150.115 12.058 146.377 12.058C142.891 12.058 140.497 14.074 140.119 18.232ZM166.616 31.42C161.366 31.42 157.628 29.236 157.502 24.49H161.324C161.66 27.178 163.97 28.144 166.658 28.144C169.346 28.144 171.446 27.178 171.446 24.826C171.446 23.062 170.228 22.348 168.17 21.886L164.096 20.962C159.98 19.996 158.132 17.896 158.132 14.956C158.132 10.966 161.534 8.74 166.616 8.74C171.824 8.74 174.974 11.092 175.184 15.586H171.614C171.236 12.898 169.388 12.016 166.658 12.016C163.802 12.016 162.248 12.982 162.248 14.872C162.248 16.384 163.214 17.308 165.482 17.812L169.598 18.736C173.126 19.576 175.772 21.004 175.772 24.742C175.772 29.572 171.404 31.42 166.616 31.42ZM186.2 31.294C182.546 31.294 180.068 29.74 180.068 25.456V12.52H176.498V9.16H180.068V3.658H184.31V9.16H188.636V12.52H184.31V24.742C184.31 26.884 185.024 27.85 187.376 27.85C187.88 27.85 188.258 27.85 188.93 27.766V30.958C188.132 31.168 187.208 31.294 186.2 31.294ZM191.105 31V9.16H195.347V31H191.105ZM190.685 2.86C190.685 1.474 191.861 0.339999 193.205 0.339999C194.549 0.339999 195.725 1.474 195.725 2.86C195.725 4.288 194.549 5.38 193.205 5.38C191.861 5.38 190.685 4.288 190.685 2.86ZM205.385 31L197.111 9.16H201.437L207.989 26.968H208.157L214.709 9.16H219.035L210.719 31H205.385ZM225.81 31.42C221.736 31.42 218.502 29.614 218.502 25.288C218.502 21.088 221.568 19.366 225.474 18.904L230.892 18.274C232.908 18.022 233.58 17.644 233.58 16.972V16.384C233.58 12.898 231.774 11.974 228.708 11.974C225.558 11.974 223.794 12.898 223.794 15.67V16.174H219.72V15.292C219.72 10.924 222.786 8.74 228.792 8.74C234.966 8.74 237.822 11.05 237.822 16.342V31H233.832V27.472H233.664C233.244 28.312 231.186 31.42 225.81 31.42ZM222.744 25.078C222.744 27.136 224.214 28.102 226.86 28.102C231.48 28.102 233.58 25.246 233.58 22.894V20.5C233.286 20.962 232.74 21.256 230.598 21.508L226.482 22.054C223.752 22.39 222.744 23.356 222.744 25.078ZM241.22 31V1.6H245.462V31H241.22Z"
        fill="#7E7E7E"></path>
    </svg>
    <div id="logodates">18 & 19 march 2024</div>
  </div>
</div>

<style>
  #logo {
    display: grid;
    width: 415px;
    grid-template-columns: 100px auto;
    align-items: center;
    gap: var(--spacing-15);
    margin: 15px;
  }

  #circback {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 100px;
    background-color: #f8f8f8;
  }

  #circ {
    width: 70%;
    height: 70%;
    border-radius: 50%;
    background: conic-gradient(
      from 225deg at 50% 50%,
      #ffc0cb 0deg,
      #ddf5ff 360deg
    );
  }

  <<<<<<< HEAD #circback {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 100px;
    background-color: #f8f8f8;
  }

  #circ {
    width: 70%;
    height: 70%;
    border-radius: 50%;
    background: conic-gradient(
      from 225deg at 50% 50%,
      #ffc0cb 0deg,
      #ddf5ff 360deg
    );
  }

  #logodates {
    font-weight: var(--details-desk-font-weight);
    font-size: var(--details-desk-font-size);
    line-height: 0.8em;
    color: var(--subtle);
  }

  @media screen and (max-width: 1024px) {
    #logo {
      margin: auto;
      grid-template-columns: 44px 150px;
      overflow: hidden;
      max-width: 200px;
    }
    #circback {
      width: var(--mobile-spacing-min);
      height: var(--mobile-spacing-min);
    }
    #logotype svg {
      width: 140px;
    }
    #logodates {
      font-size: smaller;
      margin: 0;
    }
  }
</style>

<!-- #logodates {
    font-weight: var(--details-desk-font-weight);
    font-size: var(--details-desk-font-size);
    line-height: 0.8em;
    color: #7E7E7E;
  }, -->
