---
import Listkomponent from "../components/Listkomponent.astro";
---

<div>
  <h2>Placeholder Tekst</h2>
  <ul>
    <Listkomponent />
    <Listkomponent />
    <Listkomponent />
    <Listkomponent />
    <Listkomponent />
    <Listkomponent />
    <Listkomponent />
    <Listkomponent />
    <Listkomponent />
    <Listkomponent />
    <Listkomponent />
  </ul>
</div>
