---

---

<button id="navarrow">
    <svg width="10" viewBox="0 0 14 23" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M11.1784 22.2634C10.6914 22.2634 10.2018 22.0772 9.82949 21.7049L0.937644 12.8564C0.578094 12.4969 0.376643 12.0098 0.376643 11.4998C0.376643 10.9924 0.578094 10.5053 0.937644 10.1458L9.82949 1.29219C10.5766 0.547589 11.7853 0.547589 12.5325 1.29729C13.2771 2.04699 13.2745 3.25824 12.5274 4.00284L4.99724 11.4998L12.5274 18.9968C13.2745 19.7414 13.2771 20.9501 12.5325 21.6998C12.1602 22.0772 11.668 22.2634 11.1784 22.2634Z" fill="#EFEFEF"/>
        </svg>
        
    </button>

<style>
    #navarrow {
        display: flex;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        border: none;
        background-color: rgba(0, 0, 0, 0.4);
        align-items: center;
        justify-content: center;
        transition: .2s;
    }
    #navarrow:hover {
        background-color:rgba(50, 50, 50, 0.6);
    }
    #navarrow:active{
        background-color:rgba(100, 100, 100, 0.8);
    }
</style>