---
import Navbutton from "../components/Navbutton.astro"
import SoMe from "../components/SoMe.astro"
---

<ul id="navmenu">
    <Navbutton label="Home" path="index.html"></Navbutton>
    <Navbutton label="tests" path="tests.html"></Navbutton>
    <Navbutton label="Programme" path="programme.html"></Navbutton>
    <Navbutton label="Map / booths" path="mapbooths.html"></Navbutton>
    <Navbutton label="About" path="about.html"></Navbutton>
    <Navbutton label="Contact" path="contact.html"></Navbutton>
    <li id="somemobilerow">
        <SoMe />
    </li>
</ul>
<style>
    @media screen and (min-width: 1025px){
        ul{
            display: none;
        }
    }
    @media screen and (max-width: 1024px){
        ul {
            animation: expandnav var(--standard-transition) ease-in-out both;
            display: grid;
            grid-template-columns: auto;
            list-style: none;
            width: 100%;
            max-height: 100vh;
            /* justify-content: start; */
            gap: var(--spacing-normal);
            background-color: var(--bg-navbar);
            /* opacity: 50%; */
            margin: 0 0 0 33%;
            padding: 5% 0;
        }
        #hamburgercontainer svg{
            position: absolute;
            right: var(--spacing-normal);
        }
        #somemobilerow{
            margin-right: var(--spacing-normal);
            height: min-content;
        }

        @keyframes expandnav {
            from{
                transform: scaleX(0%);
            }
            to{
                transform: scaleX(100%);
            }
        }
    }
</style>