---

---

<div id="sometable">
    <div id="someiconsrow">
        <a href="https://www.facebook.com/copenhagensakurafestival" target="_blank">
            <svg viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M13.92 23.9942V23.8365C13.92 21.1168 13.92 18.397 13.9176 15.6796C13.9176 15.5389 13.9562 15.5001 14.0936 15.5025C14.9084 15.5074 15.7257 15.5025 16.5406 15.5025C16.772 15.5025 16.7696 15.4953 16.8034 15.2672C16.8661 14.8183 16.9456 14.3719 17.0179 13.9255C17.112 13.3359 17.2036 12.7439 17.2952 12.1544C17.3 12.1301 17.2976 12.1083 17.3024 12.067H13.9224C13.9224 12.0088 13.9224 11.9676 13.9224 11.9263C13.932 11.2179 13.9345 10.507 13.9562 9.79853C13.9634 9.57289 13.9923 9.3424 14.055 9.12889C14.231 8.52234 14.6625 8.1851 15.2677 8.0735C15.516 8.0274 15.7715 8.02012 16.0247 8.01284C16.4417 8.00314 16.8564 8.01042 17.2879 8.01042C17.2928 7.93278 17.3 7.86727 17.3 7.80176C17.3 6.92833 17.3024 6.05247 17.3024 5.17904C17.3024 4.93399 17.3024 4.92186 17.0637 4.90002C16.2633 4.82238 15.4605 4.70835 14.6601 4.68894C13.7609 4.66953 12.8857 4.84664 12.0926 5.31733C11.068 5.92388 10.4773 6.84098 10.2097 7.98858C10.0843 8.53205 10.0433 9.08522 10.0433 9.64082C10.0433 10.4027 10.0433 11.1669 10.0458 11.9287C10.0458 12.0525 9.99754 12.0695 9.89147 12.0695C8.97052 12.067 8.04958 12.0695 7.12622 12.0695C7.06836 12.0695 7.01291 12.0695 6.93094 12.0695C6.93094 12.1447 6.93094 12.2102 6.93094 12.2757C6.93094 13.3044 6.93818 14.3331 6.93094 15.3618C6.93094 15.5025 6.99845 15.505 7.0997 15.505C7.99172 15.505 8.88614 15.5001 9.77816 15.505C10.1036 15.505 10.0433 15.4952 10.0433 15.767C10.0433 18.4722 10.0433 21.1774 10.0433 23.8802C10.0433 23.9166 10.0361 23.9554 10.0289 24.0088C7.82055 23.6255 5.86294 22.7205 4.18016 21.2478C1.74762 19.1079 0.337271 16.4172 0.0503801 13.1855C-0.57403 6.16893 4.69126 0.501316 11.0945 0.0330586C17.9967 -0.471592 23.6863 4.86848 23.9877 11.4653C24.3035 18.3994 19.1347 23.2445 13.9224 23.9942H13.92Z" fill="#535252"/>
                </svg>                
        </a>
        <a href="https://www.instagram.com/copenhagensakurafestival/" target="_blank">
            <svg viewBox="0 0 25 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M7.03157 0.0839251C5.75477 0.144165 4.88284 0.347925 4.1206 0.647445C3.33172 0.954885 2.66308 1.36745 1.9978 2.03513C1.33252 2.70281 0.922844 3.37193 0.617564 4.162C0.322124 4.92593 0.121964 5.79856 0.0655643 7.07608C0.00916431 8.3536 -0.0033157 8.76425 0.0029243 12.023C0.0091643 15.2817 0.0235643 15.6902 0.0854843 16.9703C0.146444 18.2469 0.349484 19.1186 0.649004 19.881C0.956924 20.6699 1.369 21.3383 2.03692 22.0038C2.70484 22.6694 3.37348 23.0781 4.16548 23.3838C4.92869 23.6788 5.80157 23.8799 7.07885 23.9358C8.35613 23.9918 8.76725 24.0047 12.025 23.9985C15.2828 23.9922 15.6929 23.9778 16.9728 23.9171C18.2528 23.8564 19.1199 23.6519 19.8826 23.3538C20.6715 23.0452 21.3404 22.6338 22.0054 21.9657C22.6704 21.2975 23.0799 20.6279 23.3849 19.8374C23.6806 19.0742 23.8815 18.2013 23.9369 16.925C23.9928 15.6441 24.006 15.2351 23.9998 11.9769C23.9936 8.71865 23.9789 8.31017 23.9182 7.03049C23.8575 5.75081 23.6542 4.88177 23.3549 4.1188C23.0465 3.32993 22.6349 2.662 21.9672 1.996C21.2996 1.33 20.6295 0.920805 19.8392 0.616485C19.0755 0.321045 18.2031 0.119685 16.9258 0.0644851C15.6485 0.00928513 15.2374 -0.00487487 11.9784 0.00136513C8.71949 0.00760513 8.31149 0.0215251 7.03157 0.0839251ZM7.17173 21.777C6.00173 21.7262 5.36645 21.5318 4.94308 21.369C4.38244 21.153 3.98308 20.8919 3.56116 20.4741C3.13924 20.0562 2.88004 19.6554 2.66116 19.096C2.49676 18.6726 2.29876 18.0381 2.24404 16.8681C2.18452 15.6035 2.17204 15.2238 2.16508 12.0201C2.15812 8.81632 2.17036 8.43713 2.2258 7.17208C2.27572 6.00305 2.47132 5.36704 2.6338 4.94392C2.8498 4.38257 3.10996 3.98392 3.52876 3.56224C3.94756 3.14056 4.34716 2.88089 4.90708 2.662C5.32996 2.49689 5.96453 2.30057 7.13405 2.24488C8.39957 2.18489 8.77877 2.17288 11.982 2.16592C15.1853 2.15896 15.5655 2.17096 16.8315 2.22664C18.0005 2.27752 18.6368 2.4712 19.0594 2.63464C19.6203 2.85064 20.0194 3.11009 20.4411 3.52961C20.8628 3.94913 21.1227 4.34729 21.3416 4.9084C21.5069 5.33008 21.7032 5.96441 21.7584 7.13464C21.8187 8.40016 21.8324 8.7796 21.8381 11.9826C21.8439 15.1857 21.8326 15.5661 21.7772 16.8306C21.726 18.0006 21.5321 18.6362 21.3692 19.06C21.1532 19.6204 20.8928 20.02 20.4737 20.4414C20.0547 20.8629 19.6556 21.1226 19.0954 21.3414C18.673 21.5063 18.0377 21.7031 16.8692 21.7588C15.6036 21.8183 15.2244 21.8308 12.02 21.8378C8.81549 21.8447 8.43725 21.8318 7.17173 21.777ZM16.9544 5.5864C16.9548 5.87123 17.0398 6.14952 17.1984 6.38607C17.3571 6.62262 17.5823 6.80681 17.8456 6.91535C18.109 7.02389 18.3986 7.05189 18.6778 6.99583C18.9571 6.93976 19.2134 6.80214 19.4145 6.60037C19.6155 6.3986 19.7522 6.14174 19.8072 5.86228C19.8623 5.58283 19.8332 5.29332 19.7237 5.03039C19.6142 4.76746 19.4292 4.5429 19.192 4.38512C18.9549 4.22735 18.6763 4.14344 18.3915 4.144C18.0097 4.14477 17.6438 4.29715 17.3743 4.56764C17.1048 4.83813 16.9537 5.20458 16.9544 5.5864ZM5.83996 12.0119C5.84668 15.4151 8.61053 18.1677 12.013 18.1612C15.4155 18.1547 18.17 15.3911 18.1635 11.9879C18.157 8.58472 15.3924 5.83144 11.9895 5.83816C8.58653 5.84488 5.83349 8.60921 5.83996 12.0119ZM8.00141 12.0076C7.99984 11.2165 8.23291 10.4426 8.67114 9.78395C9.10937 9.12527 9.73308 8.61134 10.4634 8.30714C11.1937 8.00293 11.9978 7.92213 12.7741 8.07494C13.5503 8.22774 14.2638 8.6073 14.8244 9.16561C15.3849 9.72393 15.7673 10.4359 15.9231 11.2115C16.079 11.9872 16.0014 12.7916 15.7001 13.5231C15.3988 14.2547 14.8873 14.8804 14.2304 15.3212C13.5735 15.7621 12.8005 15.9982 12.0094 15.9998C11.4841 16.0009 10.9637 15.8985 10.478 15.6984C9.99222 15.4984 9.55065 15.2046 9.17846 14.8339C8.80627 14.4632 8.51076 14.0228 8.30879 13.5378C8.10683 13.0529 8.00238 12.5329 8.00141 12.0076Z" fill="#535252"/>
                </svg>                
        </a>
    </div>
    <a id="newsletterrow" href="#">NEWSLETTER</a>
</div>

<style>
    #sometable {
        display: grid;
        grid-template-rows: 30px 1em;
    }
    #someiconsrow {
        display: flex;
        justify-content: end;
        gap: var(--spacing-7);
    }
    #newsletterrow {
        font-size: var(--size-small-desktop);
        color: var(--secbutton-text);
        font-style: var(--textbutton-desk-text-case);
        text-align: right;
    }

    svg{
        width: 25px;
        height: 25px;
    }

    @media screen and (max-width: 1024px) {
        #sometable {
            grid-template-rows: 44px 1em;
            gap: var(--spacing-max);
        }
        #someiconsrow {
            gap: var(--spacing-max);
        }
        svg{
            width: 44px;
            height: 44px;
        }
    }
</style>