---
const link = Astro.props.href;
const target = Astro.props.target;
---

<a class="textbutton" href={link} target={target}>
  <span>
    <slot name="label" />
  </span>
  <div>
    <slot name="icon" />
  </div>
</a>

<style>
  * {
    text-transform: uppercase;
    font-weight: var(--textbutton-desk-font-weight);
  }
  .textbutton {
    display: flex;
    align-items: center;
    gap: var(--spacing-normal);
    width: fit-content;
    color: var(--lighttext);
  }
  h2,
  p {
    text-align: left;
  }

  p {
    font-weight: var(--textbutton-desk-font-weight);
    font-size: var(--textbutton-desk-font-size);
    letter-spacing: var(--textbutton-desk-letter-spacing);
  }

  .islink {
    text-decoration: var(--textbutton-link);
  }

  a {
    margin: inherit;
  }

  @media screen and (max-width: 1024px) {
    a {
      padding: 20px;
    }
  }
</style>
