---
import Textbutton from "../components/Textbutton.astro";
---

<section id="thatsall">
  <h2>That's all.</h2>
  <Textbutton href="#top">
    <p slot="label">Back to top</p>
    <svg
      slot="icon"
      "20"
      height="12"
      viewBox="0 0 20 12"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        d="M19.7166 11.2157C19.373 11.5603 18.8354 11.5916 18.4565 11.3097L18.348 11.2157L10 2.84365L1.65204 11.2157C1.30847 11.5603 0.77084 11.5916 0.391985 11.3097L0.283445 11.2157C-0.0601234 10.8711 -0.0913582 10.3319 0.189745 9.95196L0.283445 9.8431L9.3157 0.784279C9.65927 0.439698 10.1969 0.408373 10.5758 0.690302L10.6843 0.784279L19.7166 9.8431C20.0945 10.2221 20.0945 10.8367 19.7166 11.2157Z"
        fill="#535252"></path>
    </svg>
  </Textbutton>
</section>

<style>
  #thatsall {
    margin: 10rem auto;
  }
  @media screen and (max-width: 1024px) {
    h2 {
      text-align: center;
    }
    #thatsall {
      margin: 5rem auto;
    }
  }
</style>
